<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_9.xsd"
         version="3.9">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.test.web.jdbc.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentControllerServlet</servlet-name>
        <servlet-class>com.test.web.jdbc.StudentControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentControllerServlet</servlet-name>
        <url-pattern>/StudentControllerServlet</url-pattern>
    </servlet-mapping>

</web-app>