<!DOCTYPE html>
<html>
<head>
    <title>Spring boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href=""/>
</head>
<body>

<div>
    <div>
        <h1>Spring Bott Ajax Example</h1>
        <form id="search-form">
            <div>
                <label>Username</label>
                <input type="text" id="username"/>
            </div>
            <div>
                <button type="submit" id="btn-search">Search</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>